<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Employee Leave</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveReaquestServlet</display-name>
    <servlet-name>LeaveReaquestServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.LeaveReaquestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveReaquestServlet</servlet-name>
    <url-pattern>/LeaveReaquestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyLeaveHistoryServlet</display-name>
    <servlet-name>ApplyLeaveHistoryServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.ApplyLeaveHistoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyLeaveHistoryServlet</servlet-name>
    <url-pattern>/ApplyLeaveHistoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeclineLeaveServlet</display-name>
    <servlet-name>DeclineLeaveServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.DeclineLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeclineLeaveServlet</servlet-name>
    <url-pattern>/DeclineLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateServlet</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLoginServlet</display-name>
    <servlet-name>AdminLoginServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.AdminLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginServlet</servlet-name>
    <url-pattern>/AdminLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_UserListServlet</display-name>
    <servlet-name>Admin_UserListServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.Admin_UserListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_UserListServlet</servlet-name>
    <url-pattern>/Admin_UserListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_DeleteUserServlet</display-name>
    <servlet-name>Admin_DeleteUserServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.Admin_DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_DeleteUserServlet</servlet-name>
    <url-pattern>/Admin_DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_UpdateUserServlet</display-name>
    <servlet-name>Admin_UpdateUserServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.Admin_UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_UpdateUserServlet</servlet-name>
    <url-pattern>/Admin_UpdateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_LeaveAutorizeServlet</display-name>
    <servlet-name>Admin_LeaveAutorizeServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.Admin_LeaveAutorizeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_LeaveAutorizeServlet</servlet-name>
    <url-pattern>/Admin_LeaveAutorizeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_StatusApprovedServlet</display-name>
    <servlet-name>Admin_StatusApprovedServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.Admin_StatusApprovedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_StatusApprovedServlet</servlet-name>
    <url-pattern>/Admin_StatusApprovedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_StatusDeclinedServlet</display-name>
    <servlet-name>Admin_StatusDeclinedServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.Admin_StatusDeclinedServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_StatusDeclinedServlet</servlet-name>
    <url-pattern>/Admin_StatusDeclinedServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_UserCreationServlet</display-name>
    <servlet-name>Admin_UserCreationServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.Admin_UserCreationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_UserCreationServlet</servlet-name>
    <url-pattern>/Admin_UserCreationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Emp_LeaveBalanceServlet</display-name>
    <servlet-name>Emp_LeaveBalanceServlet</servlet-name>
    <servlet-class>ELM.java.Servlet.Emp_LeaveBalanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Emp_LeaveBalanceServlet</servlet-name>
    <url-pattern>/Emp_LeaveBalanceServlet</url-pattern>
  </servlet-mapping>
</web-app>